@font-face {
    font-family: 'figtree';
    src: url(../assets/fonts/Figtree-VariableFont_wght.ttf) format(truetype);
}

@font-face {
    font-family: 'figtree-bold';
    src: url(../assets/fonts/static/Figtree-ExtraBold.ttf);
}

:root {
    --main-font: 'figtree';
    --color-yellow: hsl(47, 88%, 63%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'figtree';
}

body {
    background-color: var(--color-yellow);
    /* display: flex;
    justify-content: center; */
    margin: auto auto;
}

main {
    background-color: white;
    height: 200px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 5px;
}

main>h2 {
    background-color: var(--color-yellow);
    font-size: 0.3rem;
    width: 30px;
    display: flex;
    justify-content: center;
    padding: 2px 0px;
    border-radius: 2px;
}

p {
    font-size: 0.3rem;
}

h1 {
    font-size: 0.5rem;
}

.logo {
    width: 100px;
    border-radius: 4px;
}

.autor-avatar {
    display: flex;
    align-items: center;
    gap: 5px;
}

.autor-avatar img {
    width: 10px;
}

.autor-avatar h2 {
    font-size: 0.3rem;
}