@media screen and (min-width:600px) and (max-width:768px) {
    .infos-container {
        flex-direction: row;
    }

}

@media screen and (min-width:769px) {
    main {
        display: flex;
        flex-direction: row-reverse;
        height: 40vh;
        width: 900px;
    }

    section {
        text-align: start;
        width: 50%;
        height: 100%;
        padding: 50px;
        justify-content: space-around;
    }

    .image-container {
        width: 50%;
        height: 100%;
    }

    .infos-container {
        flex-direction: row;
        gap: 40px;
        width: 100%;
    }
}