@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: hsl(244, 38%, 16%);
    border-radius: 15px;
    overflow: hidden;
    width: 90%;
    height: 95%;
}
 /* NEED CORRECTION - CONTAINER IMG > IMG  */
.image-container {
    max-width: 100%;
    background: #aa5cdb;
    height: 50%;
}

.image-container img {
    width: 100%;
    mix-blend-mode: multiply;
    opacity: 0.75;
    height: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
    height: 50%;
}

h1 {
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
    color: white;
    margin-bottom: 20px;
}

strong {
    color: hsl(277, 64%, 61%);
}

section>p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: hsla(0, 0%, 100%, 0.65);
    line-height: 1.5rem;
    margin-bottom: 40px;
}

.infos-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'Lexend Deca', sans-serif;
}

h2 {
    color: white;
    font-weight: normal;
}

.infos-container p {
    color: hsla(0, 0%, 100%, 0.50);
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1.5px;
    font-weight: 100;
}